.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-icon {
  position: absolute;
  right: 10px; /* Adjust as needed */
  cursor: pointer;
}



.captcha-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.captcha-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.image-border {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */
  gap: 10px; /* Space between images */
}

.captcha-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 6px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.captcha-image.selected {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Add shadow when selected */
  border: 2px solid #007BFF; /* Highlight selected images with border */
}

.captcha-button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.captcha-button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
